{% extends 'main/header.html' %}

{% block style %}
		<style type="text/css">
			/* textarea label focus color */
			.input-field textarea:focus + label {
				color: white !important;
			}
			/* textarea label underline focus color */
			.row .input-field textarea:focus {
				border-bottom: 1px solid white !important;
				box-shadow: 0 1px 0 0 white !important
			}

			/* label focus color */
			.input-field input:focus + label {
				color: white !important;
			}
			/* label underline focus color */
			.row .input-field input:focus {
				border-bottom: 1px solid white !important;
				box-shadow: 0 1px 0 0 white !important
			}
			/* invalid color */
			.input-field input[type=text].invalid {
		    border-bottom: 1px solid #C62828 !important;
		    box-shadow: 0 1px 0 0 #C62828 !important;
		  }
		</style>
{% endblock %}

{% block content %}
			<div class="row white-text">
				<div class="col s10 m8 l8 offset-s1 offset-m2 offset-l2">
					<h3 align="center">Create Campaign</h3>
					<form method="POST">
						{% csrf_token %}

						<div class="row">
							<div class="input-field">
								<input id="campaign-title" name="campaign-title" type="text" data-length="50" style="color:white" required value="{{initial_title}}">
								<label for="campaign-title">Campaign Title</label>
							</div>
						</div>
						<div class="row">
							<div class="input-field">
								<textarea id="campaign-description" name="campaign-description" class="materialize-textarea" style="color:white" required>{{initial_description}}</textarea>
								<label for="campaign-description">Campaign Description</label>
							</div>
						</div>

						<div class="row">
							<div class="col s6 m6 l6" align="center">
								<a href="/planner-home" class="btn black waves-red waves-effect"><strong><span style="color:#C62828">back</span></strong></a>
							</div>
							<div class="col s6 m6 l6" align="center">
								<button class="btn waves-effect waves-red" type="submit" style="background-color:#C62828"><strong><span style="color:black">create</span></strong></button>
							</div>
						</div>
					</form>
				</div>
			</div>
{% endblock %}

{% block javascript %}
		<script type="text/javascript">
			$(document).ready(function() {
				$('input#campaign-title').characterCounter();
			});
		</script>
{% endblock %}
