<!DOCTYPE html>
<html>
	<head>
		<title>D&D Planner</title>

		<link rel="icon" href="" sizes="32x32">

		{% load static %}

		<style type="text/css">
			body {
				display: flex;
				min-height: 100vh;
				flex-direction: column;
			}

			main {
				flex: 1 0 auto;
			}
		</style>

		</style>

		<!-- materialize css -->
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="{% static 'main/css/materialize.min.css' %}"  media="screen,projection"/>

		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<!-- unique styling for pages -->
		{% block style %}{% endblock %}
	</head>
	<body class="grey darken-4">
		<header>
			{% include "main/includes/navbar.html" %}
		</header>
		<main>
			<br>
			<!-- unique page content -->
			{% block content %}
			{% endblock %}
		</main>
		<footer class="page-footer red darken-3">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">D&D Planner</h5>
						<p class="grey-text text-lighten-4">Thank you for using D&D Planner! If you like what we do and want to support us, you can donate to us through PayPal <a href="#" style="color:white;text-decoration:underline;">here</a>.</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Links</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="#!">About Us</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
							<li><a class="grey-text text-lighten-3" href="#!">Support</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
				© 2019 Sithon512
				<!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
				</div>
			</div>
		</footer>

		<script type="text/javascript" src="{% static 'main/js/materialize.min.js' %}"></script>
		<script type="text/javascript">M.AutoInit();</script>
		{% include "main/includes/messages.html" %}
		{% include "main/includes/navbar-js.html" %}
		{% block javascript %}{% endblock %}
	</body>
</html>