{% extends "main/header.html" %}

{% block content %}
			<div class="row">
				<div class="col s12 m2 l2"></div>
				<div class="col s12 m8 l8">
					<div class="container">
						<div class="card-panel grey darken-3">
							<div class="card-content white-text">
								<h2 align="center"><span style="color:red;">D</span>&<span style="color:red">D</span> Planner</h2>
								<h6><strong>Welcome to D&D Planner!</strong></h6>
								<p>This site was built to help DM's organize and run their games as quickly and easily as possible so they can get into the action. On this site, you'll find other's published campaigns that you can incorporate into your own worlds, many useful tools for helping keep track of initiative, NPC's in the initiative order, managing positions on the battlemap, and more! To get started, just login (or register for an account) and start creating!</p>
								<br><br>
							</div>
						</div>
					</div>
				</div>
				<div class="col s12 m2 l2"></div>
			</div>
{% endblock %}
