{% extends "main/header.html" %}

{% block content %}
		<div class="row">
			<div class="col s12 m2 l2"></div>
			<div class="col s12 m8 l8">
				<div class="container">
					<div class="card grey darken-3">
						<div class="card-content white-text">
							<h2 align="center" style="color:#bdbdbd;"><span style="color:red;">D</span>&<span style="color:red">D</span> Planner</h2>
							<p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ex mauris, cursus non erat eget, condimentum rutrum dolor. Aliquam sed gravida risus, et mattis tortor. Sed hendrerit urna orci, in tristique quam luctus sit amet. Pellentesque molestie arcu vel pharetra imperdiet. Praesent ac turpis augue. Pellentesque rhoncus nunc et pretium semper. Mauris luctus porta tincidunt. Donec pretium rhoncus ex vel placerat.

Nunc vestibulum, diam eu fringilla suscipit, nibh nulla consequat massa, sit amet convallis dui nunc nec risus. Duis id neque ultrices, finibus nulla vitae, scelerisque massa. Donec nec orci et massa pellentesque dictum ac ut arcu. Phasellus nibh elit, finibus mollis blandit eget, molestie id diam. Quisque dignissim pellentesque pellentesque. Praesent sed leo eu tellus interdum ornare. Phasellus nisl mauris, lobortis nec massa vel, bibendum euismod elit. Morbi eu nulla quam. Aenean dignissim ut felis a eleifend. Pellentesque accumsan tempor elit, eu porttitor felis mollis ut.

Quisque vehicula, est non tristique porttitor, massa nisl aliquam risus, sed congue dolor ipsum quis felis. Sed eros nibh, ullamcorper sit amet lorem sodales, varius rhoncus odio. Suspendisse aliquam pulvinar tellus, in feugiat augue pretium vitae. Integer ut porta mauris. Proin sollicitudin est vitae vehicula venenatis. Aenean vel lacus pulvinar, laoreet felis vitae, varius purus. Nulla massa urna, rhoncus at mauris eu, tristique tincidunt velit. Suspendisse euismod elit at est congue, eget tincidunt leo dictum.

Cras hendrerit mollis imperdiet. Vivamus id felis non lacus accumsan ornare. Proin tincidunt vestibulum erat, sed consequat urna feugiat quis. Maecenas non laoreet ex. Duis non tortor vel diam dapibus cursus id sed lectus. Vestibulum eleifend feugiat commodo. Etiam rutrum sollicitudin erat, eget aliquet augue tempor eget. Sed vitae lorem augue. Aenean ullamcorper interdum orci dapibus molestie. Pellentesque dictum ante ante, nec blandit urna efficitur et. Fusce vel purus egestas, euismod nibh nec, rutrum enim. Mauris venenatis quam et sodales iaculis.

In et leo mi. Nam sodales leo dui, quis rutrum lacus convallis vel. Suspendisse risus massa, ultricies vitae neque vel, dapibus condimentum est. Donec aliquam tincidunt egestas. In hac habitasse platea dictumst. Proin ultrices orci in nibh egestas porta. Pellentesque sem mi, tincidunt quis semper fermentum, blandit a nibh. Nunc bibendum lorem a libero sollicitudin, eget eleifend dolor molestie. Mauris vel gravida dolor. Mauris sollicitudin quam pharetra posuere aliquam. Curabitur eros ipsum, aliquet luctus rhoncus ac, maximus id purus.

Vestibulum eu aliquet nibh. Aenean sed pulvinar leo. Maecenas augue est, dapibus nec ultrices eu, molestie aliquet ante. Proin eget eros egestas, egestas neque et, gravida urna. Nullam et molestie massa, ac placerat magna. Quisque feugiat urna magna, vel ullamcorper diam imperdiet ac. In condimentum dui metus, ac luctus nunc fringilla non.

Nunc ac orci id est laoreet molestie id quis eros. Vestibulum porta et nulla at gravida. Nunc nec cursus augue, nec euismod dui. Mauris vitae diam tincidunt elit rutrum commodo et sed velit. Nam nisl risus, accumsan nec ultricies sit amet, bibendum et velit. Proin sodales turpis at lacinia lacinia. Morbi volutpat urna a sagittis tempus. Nullam nec augue id ex malesuada venenatis sit amet ut libero. Nunc eu auctor est, in mattis odio. Etiam eget ullamcorper justo, eu tincidunt sem.

Cras ac scelerisque ligula, ac convallis ligula. Vestibulum posuere nisl vel augue suscipit elementum. Etiam malesuada fringilla arcu at laoreet. Praesent justo massa, viverra id posuere ut, commodo eget nulla. Nunc ullamcorper, enim eu pharetra dignissim, urna diam porta eros, sit amet gravida sapien ipsum semper felis. Nulla facilisi. Nullam sit amet eros quis nunc sagittis consectetur. Phasellus aliquet sodales diam sit amet commodo. Curabitur eleifend, tellus id scelerisque vestibulum, nunc felis mattis sapien, nec pharetra sem felis quis mi. Ut suscipit pharetra nulla. Duis posuere justo eu mauris commodo sagittis. Nunc vehicula neque iaculis augue viverra, in ornare mauris auctor. Nunc efficitur orci quis nulla finibus, in condimentum ligula lacinia.</p>
							<br><br>
						</div>
					</div>
				</div>
			</div>
			<div class="col s12 m2 l2"></div>
		</div>
{% endblock %}