{% extends 'main/header.html' %}

{% block style %}
		<!-- sidenav style -->
		<!-- <style type="text/css">
			main, footer {
				padding-left: 300px;
			}

			@media only screen and (max-width : 992px) {
				main, footer {
					padding-left: 0;
				}
			}
			#sidenav {
				top: 64px;
			}
			#sidenav li a {
				color: #FFFFFF;
			}
			#sidenav div.collapsible-body {
				background-color: #212121;
			}
		</style> -->
		<!-- tab style -->
		<style type="text/css">
			.tabs .tab {
				border-color: #000000;
				border-style: solid;
				border-width: .5px;
				background-color: #C62828;
			}
			.tabs .tab a {
				color:#000000;
				/*custom text color*/
			}
			.tabs .tab a:hover {
				color:#FFFFFF;
				background-color: #C62828;
				/*custom color on hover*/
			}
			.tabs .tab a.active {
				color:#FFFFFF;
				/*custom text color while active and not selected*/
				background-color: #000000;
				/*custom background color while active and not selected*/
			}
			.tabs .tab a:focus.active {
				color:#FFFFFF;
				/*custom text color while active*/
				background-color:#000000;
				/*custom background color while active*/
			}
			.tabs .indicator {
				background-color:#C62828;
				color:#C62828;
				/*custom color of indicator*/
			}
		</style>
{% endblock %}

<!-- not currently used, kept for reference, may use later -->
{% block sidenav %}
			<!-- <ul id="sidenav" class="sidenav sidenav-fixed grey darken-4">
				<li class="no-padding">
					<ul class="collapsible collapsible-accordian">
						<li class="bold">
							<a class="collapsible-header waves-effect waves-red">Campaigns</a>
							<div class="collapsible-body">
								<ul>
									<li><a href="#" class="waves-effect waves-red">&emsp;campaign_1</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;campaign_2</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;campaign_3</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;campaign_4</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;campaign_5</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li class="no-padding">
					<ul class="collapsible collapsible-accordian">
						<li class="bold">
							<a class="collapsible-header waves-effect waves-red">Creatures</a>
							<div class="collapsible-body">
								<ul>
									<li><a href="#" class="waves-effect waves-red">&emsp;creature_1</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;creature_2</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;creature_3</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;creature_4</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;creature_5</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
				<li class="no-padding">
					<ul class="collapsible collapsible-accordian">
						<li class="bold">
							<a class="collapsible-header waves-effect waves-red">Items</a>
							<div class="collapsible-body">
								<ul>
									<li><a href="#" class="waves-effect waves-red">&emsp;item_1</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;item_2</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;item_3</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;item_4</a></li>
									<li><a href="#" class="waves-effect waves-red">&emsp;item_5</a></li>
								</ul>
							</div>
						</li>
					</ul>
				</li>
			</ul> -->
{% endblock %}

{% block content %}
			<div class="white-text">
				<div class="row">
					<div class="col s12 m1 l1"></div>
					<div class="col s12 m10 l10">
						<ul class="tabs">
							<li class="tab col s4"><a href="#campaign_tab">Campaigns</a></li>
							<li class="tab col s4"><a href="#creature_tab">Creatures</a></li>
							<li class="tab col s4"><a href="#item_tab">Items</a></li>
						</ul>
					</div>
					<!-- campaign tab -->
					<div id="campaign_tab" class="col s12 m10 l10 offset-m1 offset-l1">
						<div class="row">
							<div class="col s8 m6 l6">
								<h4>Recent Campaigns</h4>
							</div>
							<div class="col s4 m6 l6" align="right">
								<br>
								<a href="new-campaign/"><button class="btn black waves-red waves-effect"><span style="color:#C62828">Create New</span></button></a>
							</div>
						</div>
						<hr>
						{% if top_campaigns|length > 0 %}
						<div class="row">
							{% for name, slug, desc in top_campaigns %}
							<div class="col s12 m6 l3">
								<div class="card black small">
									<div class="card-content">
										<span class="card-title" style="color:#C62828"><h4>{{name}}</h4></span>
										<p>{{desc}}</p>
									</div>
									<div class="card-action">
										<a href="/view-campaign/{{slug}}" style="color:#616161">View</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>

						{% if other_campaigns|length > 0 %}
						<hr>

						<ul class="collapsible">
							<li>
								<div class="collapsible-header black"><h4><i class="material-icons" style="font-size: 30px;color:#C62828">add</i>Other Campaigns</h4></div>
								<div class="collapsible-body">
									<div class="row">
										{% if other_campaigns|length == 0 %}
										<h6 align="center">No other campaigns</h6>
										{% else %}
										{% for name, slug, desc in other_campaigns %}
										<div class="col s12 m6 l3">
											<div class="card black small">
												<div class="card-content">
													<span class="card-title" style="color:#C62828"><h4>{{name}}</h4></span>
													<p>{{desc}}</p>
												</div>
												<div class="card-action">
													<a href="/view-campaign/{{slug}}" style="color:#616161">View</a>
												</div>
											</div>
										</div>
										{% endfor %}
										{% endif %}
									</div>
								</div>
							</li>
						</ul>
						{% endif %}
						{% else %}
						<div style="height:20vh" class="valign-wrapper">
							<h5 align="center" style="width:100%;color:#404040">No campaigns to show.</h5>
						</div>
						{% endif %}
					</div>
					<!-- creature tab -->
					<div id="creature_tab" class="col s12 m10 l10 offset-m1 offset-l1">
						<div class="row">
							<div class="col s8 m6 l6">
								<h4>Recent Creatures</h4>
							</div>
							<div class="col s4 m6 l6" align="right">
								<br>
								<a href="new-creature/"><button class="btn black waves-red waves-effect"><span style="color:#C62828">Create New</span></button></a>
							</div>
						</div>
						<hr>
						{% if top_creatures|length > 0 %}
						<div class="row">
							{% for name, slug, desc in top_creatures %}
							<div class="col s12 m6 l3">
								<div class="card-panel black">
									<div class="card-content">
										<span class="card-title" style="color:#C62828"><h4>{{name}}</h4></span>
										<p>{{desc}}</p>
									</div>
									<div class="card-action">
										<a href="/view-creature/{{slug}}" style="color:#616161">View</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>

						{% if other_creatures|length > 0 %}
						<hr>

						<ul class="collapsible">
							<li>
								<div class="collapsible-header black"><h4><i class="material-icons" style="font-size: 30px;color:#C62828">add</i>Other Creatures</h4></div>
								<div class="collapsible-body">
									<div class="row">
										{% for name, slug, desc in other_creatures %}
										<div class="col s12 m6 l3">
											<div class="card-panel black">
												<div class="card-content">
													<span class="card-title" style="color:#C62828"><h4>{{name}}</h4></span>
													<p>{{desc}}</p>
												</div>
												<div class="card-action">
													<a href="/view-creature/{{slug}}" style="color:#616161">View</a>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</li>
						</ul>
						{% endif %}
						{% else %}
						<div style="height:20vh" class="valign-wrapper">
							<h5 align="center" style="width:100%;color:#404040">No creatures to show.</h5>
						</div>
						{% endif %}
					</div>
					<!-- item tab -->
					<div id="item_tab" class="col s12 m10 l10 offset-m1 offset-l1">
						<div class="row">
							<div class="col s8 m6 l6">
								<h4>Recent Items</h4>
							</div>
							<div class="col s4 m6 l6" align="right">
								<br>
								<button class="btn black waves-red waves-effect"><span style="color:#C62828">Create New</span></button>
							</div>
						</div>
						<hr>
						{% if top_items|length > 0 %}
						<div class="row">
							{% for name, slug, desc in top_items %}
							<div class="col s12 m6 l3">
								<div class="card-panel black">
									<div class="card-content">
										<span class="card-title" style="color:#C62828"><h4>{{name}}</h4></span>
										<p>{{desc}}</p>
									</div>
									<div class="card-action">
										<a href="/view-item/{{slug}}" style="color:#616161">View</a>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>

						{% if other_items|length > 0 %}
						<hr>

						<ul class="collapsible">
							<li>
								<div class="collapsible-header black"><h4><i class="material-icons" style="font-size: 30px;color:#C62828">add</i>Other Items</h4></div>
								<div class="collapsible-body">
									<div class="row">
										{% for name, slug, desc in other_items %}
										<div class="col s12 m6 l3">
											<div class="card-panel black">
												<div class="card-content">
													<span class="card-title" style="color:#C62828"><h4>{{name}}</h4></span>
													<p>{{desc}}</p>
												</div>
												<div class="card-action">
													<a href="/view-item/{{slug}}" style="color:#616161">View</a>
												</div>
											</div>
										</div>
										{% endfor %}
									</div>
								</div>
							</li>
						</ul>
						{% endif %}
						{% else %}
						<div style="height:20vh" class="valign-wrapper">
							<h5 align="center" style="width:100%;color:#404040">No items to show.</h5>
						</div>
						{% endif %}
					</div>
				</div>
			</div>
{% endblock %}

{% block javascript %}
		<script type="text/javascript">
			$(document).ready(function(){
				$('.tabs').tabs();
				// $('#sidenav').sidenav();
			});
		</script>
{% endblock %}
