<!-- navbar -->
			<div class="navbar-fixed">
				<nav class="red darken-3 z-depth-5">
					<div class="nav-wrapper">
						<a href="/" class="brand-logo"><span class="hide-on-small-only">&nbsp;</span>D&D Planner</a>
						<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
						<ul class="right hide-on-med-and-down">
						{% if user.is_authenticated %}
							<li><a href="/">Home</a></li>
							<li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Coming Soon">{{user.username}}</a></li>
							<li><a href="/init-tracker">Quick Initiative Tracker</a></li>
							<li><a href="/planner-home">My Planner</a></li>
						{% endif %}
							<li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Coming Soon">Browse Public Campaigns</a></li>
						{% if not user.is_authenticated %}
							<li><a href="/login">Login</a></li>
							<li><a href="#">Register</a></li>
						{% else %}
							<li><a href="/logout">Logout</a></li>
						{% endif %}
						</ul>
					</div>
				</nav>
			</div>

			<ul class="sidenav" id="mobile-demo">
			{% if user.is_authenticated %}
				<li><a href="/">Home</a></li>
				<li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Coming Soon">{{user.username}}</a></li>
				<li><a href="/init-tracker">Quick Initiative Tracker</a></li>
				<li><a href="/planner-home">My Planner</a></li>
			{% endif %}
				<li><a href="#" class="tooltipped" data-position="bottom" data-tooltip="Coming Soon">Browse Public Campaigns</a></li>
			{% if not user.is_authenticated %}
				<li><a href="/login">Login</a></li>
				<li><a href="#">Register</a></li>
			{% else %}
				<li><a href="/logout">Logout</a></li>
			{% endif %}
			</ul>
